In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('../src/data/StudentsPerformance.csv')

In [3]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [4]:
x=df.drop(columns=['math score'])

In [6]:
x.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,74
1,female,group C,some college,standard,completed,90,88
2,female,group B,master's degree,standard,none,95,93
3,male,group A,associate's degree,free/reduced,none,57,44
4,male,group C,some college,standard,none,78,75

In [7]:
y=df['math score']

In [9]:
y

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math score, Length: 1000, dtype: int64

In [11]:
x.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
reading score                   int64
writing score                   int64
dtype: object

In [20]:
cat_features=x.select_dtypes(include="object").columns
num_features=x.select_dtypes(exclude="object").columns
type(cat_features)

pandas.core.indexes.base.Index

In [ ]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

encoder=OneHotEncoder()
scaler=StandardScaler()
preprocessor=ColumnTransformer([
('oneHotEncoding',encoder,cat_features),
('Scaler',scaler,num_features)
])
model=Pipeline([
    ('preproccing',preprocessor),
    ('model',LinearRegression())
])

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=42)
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
print(r2_score(y_true=y_test,y_pred=y_pred))

0.877065440798143

In [35]:
from sklearn.linear_model import ElasticNet
from sklearn.linear_model import SGDRegressor
from sklearn.svm import SVR
from xgboost.sklearn import XGBRegressor
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso

models={
    "LinearRegression":LinearRegression(),
    "Ridges":Ridge(),
    "Lasso":Lasso(),
    "ElasticNet":ElasticNet(),
    "SGD":SGDRegressor(),
    "SVR":SVR(),
    "XGBoost":XGBRegressor()

}
overview={

}
for key,value in models.items():
    encoder=OneHotEncoder()
    scaler=StandardScaler()
    preprocessor=ColumnTransformer([
    ('oneHotEncoding',encoder,cat_features),
    ('Scaler',scaler,num_features)
    ])
    model=Pipeline([
    ('preproccing',preprocessor),
    (key,value)
    ])

    x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=42)
    model.fit(x_train,y_train)
    y_pred=model.predict(x_test)
    score=r2_score(y_true=y_test,y_pred=y_pred)
    overview[key]=score
    print(key)
print(overview)

LinearRegression
Ridges
Lasso
ElasticNet
SGD
SVR
XGBoost
{'LinearRegression': 0.877065440798143, 'Ridges': 0.8779832330998448, 'Lasso': 0.8202480287428799, 'ElasticNet': 0.7462584053744252, 'SGD': 0.8787794350286535, 'SVR': 0.7243845188119464, 'XGBoost': 0.8362900821060073}

In [36]:
sorted_dict = {}
for key in sorted(overview, key=overview.get):
    sorted_dict[key] = overview[key]

print(sorted_dict)

{'SVR': 0.7243845188119464, 'ElasticNet': 0.7462584053744252, 'Lasso': 0.8202480287428799, 'XGBoost': 0.8362900821060073, 'LinearRegression': 0.877065440798143, 'Ridges': 0.8779832330998448, 'SGD': 0.8787794350286535}